.Toggle {
  margin: auto;
}

.toggle-switch {
  display: inline-flex;
  margin: 16px 0px 16px 0px;
  overflow: hidden;
}

.toggle-switch input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.toggle-switch label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 1;
  text-align: center;
  padding: 16px 32px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  font-weight: bold;
}

.toggle-switch label:hover {
  cursor: pointer;
}

.toggle-switch input:checked + label {
  background-color: #405fd1;
  color: #fff;
  box-shadow: none;
}

.toggle-switch label:first-of-type {
  border-radius: 8px 0 0 8px;
}

.toggle-switch label:last-of-type {
  border-radius: 0 8px 8px 0;
}
